<!DOCTYPE html>
<html>

<head>
    <title>Tartanhacks 2020</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" media="screen" href={{ url_for( 'static', filename='css/jvectormap-2.0.5.css' ) }}>
    <link rel="manifest" href={{ url_for( 'static', filename='img/favicon/site.webmanifest' ) }}>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src={{ url_for( 'static', filename='js/jvectormap-2.0.5.min.js' ) }}></script>
    <script src={{ url_for( 'static', filename='js/cmu-map.js' ) }}></script>
    <script src={{ url_for( 'static', filename='js/getData.js' ) }}></script>
    <script src={{ url_for( 'static', filename='js/map.js' ) }}></script>
    <style
        serif {
            font-family: "Times New Roman", Times, serif;
        }
    ></style>
</head>

<body style="background-color:#222222">
    <!-- <h1 class="serif" >StudySmart</h1> -->
    <div id="map" style="width: 100%; height: 1920px"></div>
    <!-- <br>
    <font size="6">This project was made by Ravi Dudhagra, Larry Geng, Siddharth Paratkar and Jeff Tan for TartanHacks 2020.</font>
    <br><br>
    <font size="4">
        StudySmart is a visual map that tells you where on campus is a good place to study, based on the number of students in any location. This helps students
        by saving time before they leave their dorm and makes it easier to make study sessions with groups. A common complaint among CMU students is about the lack of 
        available places to study, but hopefully through this app they will be able to make smarter choices about studying. In the future, we want to expand this 
        application to let others input where they like to study, and use that to tailor the map for each user.
    </font> -->
</body>

</html>
